body{
    font-family: 'Merriweather Sans', sans-serif; 
}

#title{
    background-color: #f8e9a1;
    color: #f76c6c;
}
.container-fluid{
    padding: 0% 15% 5%;
}
h1{
    font-family: 'Oswald-Medium', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}
h2{
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    color: #45b292;
}
h3{
    font-family: 'Merriweather Sans-Regular', sans-serif; 
    font-size: 1.5rem;
    color: #45b292;;
}
p{
    font-size: 1.25rem;
    color:  #374785;
    line-height: 1.25;
    margin-bottom: 1rem;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-toggler-icon{
    background-color: #374785;
}
.nav-item{
    padding: 0 18px;
    color: #004445;
}
.nav-link{
    font-size: 1.2rem;
    color: #374785; 
}
.more-button {
    margin: 3% 3% 5% 0;
    background-color: #374785;
}
.title-image{
    width: 50%;
    border: 5px solid  #f76c6c;
    border-radius: 50%;
    padding: 8px;
}
.about-image{
    width: 50%;
    border: 5px solid #f76c6c;
    border-radius: 4px;
    padding: 8px;    
}
#about{
    padding: 7% 15%;
}
.technology-title{
    padding: 3% 0%;
}
.about-tag ul {
    padding: 0%;
}
.about-tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 3px solid #2c786c;
    padding: 6px 10px;
    display: inline-block;
  }
  .about-tag ul li:hover{
    background-color:  #f76c6c;
  }
  #projects{
      padding: 100px;
      text-align: center;
      background-color: #f8e9a1;
  }
.project-column{
    padding: 3% 2%;
}
.card-img-top {
    max-width: 100%;
    height: auto;
  }
.project-button{
    color: #374785; 
}